APP_BASE_URL=http://localhost:5235
FRONTEND_BASE_URL=http://localhost:5173
FRONTEND_ALLOWED_ORIGIN=http://localhost:5173

DB_NAME: "YOUR_DB_NAME"
DB_USER: "YOUR_DB_USERNAME"
DB_PASSWORD: "YOUR_DB_PASSWORD"

JWT_KEY: "YOUR_SECRET_KEY"

SMTP_SERVER: "YOUR_SMTP_SERVER"
SMTP_PORT: "YOUR_SMTP_PORT"
SENDER_NAME: "YOUR_SENDER_NAME"
SENDER_EMAIL: "YOUR_SENDER_EMAIL"
SMTP_USERNAME: "YOUR_SMTP_USERNAME"
SMTP_PASSWORD: "YOUR_SMTP_PASSWORD"

AWS_BUCKET: "YOUR_AWS_BUCKET_NAME"
AWS_ACCESS_KEY: "YOUR_ACCESS_KEY"
AWS_SECRET_KEY: "YOUR_SECRET_KEY"
AWS_REGION: "YOUR_AWS_REGION"
AWS_BASE_URL: "YOUR_AWS_BASE_URL"